@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

html body {
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: rgb(26, 24, 24);
}

nav .nav-left ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  z-index: 3;
  font-family: "Poppins", sans-serif;
}

nav .nav-left ul li a:hover {
  color: aqua;
  transition: all 0.3s;
}

nav .nav-left ul {
  display: flex;
  list-style-type: none;
}

nav {
  height: 10vh;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.nav-left {
  margin-right: 30rem;
}

.navbtn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: aqua;
  color: black;
  font-family: Arial;
  margin-left: 100px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  border: none;
  font-weight: bolder;
}
.navbtn:hover {
  border: 2px solid aqua;
  background: transparent;
  color: aqua;
  transition: 0.2s;
}

main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.p {
  color: white;
  margin: 0px 0px 0px 5rem;
}

.p h1 {
  font-family: "Acme", sans-serif;
  font-size: 50px;
}

.cv {
  border: 2px solid aqua;
  background-color: transparent;
  border-radius: 20px;
  padding: 8px 10px;
  color: aqua;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin: 1.5rem 0px;
  font-weight: bolder;
}

.cv:hover {
  color: black;
  background-color: aqua;
  transition: 0.3s;
}

.icon {
  margin-left: -18px;
}

.fi {
  margin-left: 4px;
  background-color: black;
  border-radius: 5px 10px;
  padding: 0px 5px;
}

.lin {
  margin-left: 4px;
  background-color: black;
  border-radius: 5px 10px;
  padding: 0px 5px;
}

.it {
  margin-left: 4px;
  background-color: black;
  border-radius: 5px 10px;
}

.t {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  font-size: 20px;
}

.git {
  margin-left: 4px;
  background-color: black;
  border-radius: 5px 10px;
}

.my-skills-0 {
  display: flex;
  justify-content: space-evenly;
}

.my-skills-1 {
  margin-right: 50px;
}

.skills {
  display: flex;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

.spng {
  background-color: rgb(0, 255, 234);
  border-radius: 15%;
  padding: 10px;
  margin-bottom: 17px;
  margin-left: -13px;
}

.aboutme {
  text-align: center;
  text-decoration: overline dotted;
  color: white;
  font-family: "Lora", serif;
}

.about-me {
  margin-bottom: 2rem;
  font-size: 15px;
}

.aboutp {
  color: aqua;
  text-align: center;
  font-size: large;
  margin-top: 20px;
  word-spacing: 5px;
  font-family: "Nunito Sans", sans-serif;
}

.details-about {
  margin: 0px 100px;
  /* display: flex; */
  justify-content: space-between;
  text-align: center;
  border: 2px solid white;
  margin-bottom: 100px;
}

.know-me {
  margin-bottom: 30px;
  margin-left: 10px;
}

.my-skills h2 {
  color: rgb(255, 255, 255);
  /* text-decoration: 7px underline dotted; */
  margin-bottom: 20px;
  font-family: "Lora", serif;
}

.know-me h2 {
  color: rgb(255, 255, 255);
  /* text-decoration: 7px underline dotted; */
  /* border-bottom: 2px solid white; */
  margin-bottom: 10px;
  font-family: "Lora", serif;
  margin-top: 5px;
}

.know-me p {
  color: aqua;
  font-family: "Nunito Sans", sans-serif;
  font-size: large;
  word-spacing: 5px;
}

.my-skills {
  color: aqua;
  margin: 0px 50px;
}

.my-skills p {
  padding: 9px;
  cursor: pointer;
  border: 2px solid white;
  font-size: large;
  font-weight: bold;
}

.my-skills p:hover {
  border: 2px solid rgb(0, 255, 255);
  color: white;
}

.projectheadline h1 {
  text-align: center;
  font-family: "Lora", serif;
}

.projectheadline {
  text-align: center;
  text-decoration: overline dotted;
  color: white;
}

.projecticon {
  background-color: aqua;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  color: black;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.card-group {
  margin-top: 20px;
  color: aliceblue;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.card a {
  background-color: rgb(17, 18, 18);
}

.card-body {
  background-color: rgb(17, 18, 18);
}

.viewp {
  border: 2px solid aqua;
  height: 40px;
  width: 150px;
  margin: 0px auto;
  color: aqua;
  background-color: transparent;
  border-radius: 20px;
  margin: 5px 0px;
  font-family: "Poppins", sans-serif;
}

.viewp:hover {
  color: black;
  background-color: aqua;
  font-weight: bolder;
}

.line {
  border: 1px solid white;
  margin-bottom: 20px;
  margin-top: 80px;
}

.social-icon a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

.social-icon {
  justify-content: center;
  text-align: center;
  margin-left: -30px;
  margin-bottom: 10px;
}

.list li a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.list li a:hover {
  color: aqua;
}

.list li {
  list-style-type: none;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  text-align: center;
  color: white;
}

#preloader {
  background: rgb(0, 0, 0) url(./preloader.gif) no-repeat center center;
  background-size: 300px;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 5;
}
